<!-- Definición de los beans -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Habilitar el procesamiento de anotaciones -->
    <context:annotation-config/>

    <bean id="claseServicioBean" class="com.ebac.modulo37.componentes.ClaseServicio">
        <property name="claseModelo" ref="claseModelBean" />
    </bean>

    <bean id="claseModelBean" class="com.ebac.modulo37.componentes.ClaseModelo" />

    <bean id="claseServicioBeanPorConstructor" class="com.ebac.modulo37.componentes.ClaseServicioPorConstructor">
        <constructor-arg ref="claseModelBean" />
    </bean>

    <bean id="claseServicioBeanPorAnotacion" class="com.ebac.modulo37.componentes.ClaseServicioPorAnotacion" />

</beans>